html,
body {
  overflow-x: hidden;
  padding: 0;
  background-color: #e5e5e5;
}

ul {
  margin-top: 5%;
  list-style: none;
}

#wrapper {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.app-logo {
  margin: 0;
}

.connect-wallet-button {
  font-weight: 500;
}

.connect-wallet-button:hover {
  background-color: #567d9e;
}

.switcher {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-left: 50px;
  width: 50%;
  min-width: 260px;
}
.switcher button {
  width: 317px;
  display: inline-block;
  justify-content: center;
  font-family: "Rany";
  font-size: 20px;
  letter-spacing: 0.05em;
  font-weight: 500;
  background-color: #e5e5e5;
  border: none;
}

@keyframes border_trans {
  100% {
    transform: translateX(20px);
  }
}

.buy::after {
  content: "";
  display: block;
  height: 1px;
  background: #1aafa6;
  animation: border_trans 0.2s forwards;
}

.buy-checkmark {
  height: 15px;
  width: 15px;
  margin: 0 auto 25%;
}

.sell-checkmark {
  width: 15px;
  height: 15px;
  margin: 0 auto 30%;
}

.small-icon {
  width: 24px;
  height: 24px;
  margin-right: 5%;
  background-color: #e6e6e6;
  box-shadow: none;
  transition: background-color 0.2s;
  display: inline-block;
  position: relative;
}

.flex-sell-icon {
  display: flex;
  justify-content: center;
  box-shadow: none;
  background-color: #e37a7a;
}
.flex-buy-icon {
  display: flex;
  justify-content: center;
  box-shadow: none;
  background-color: #1aafa6;
}

.blue-bg {
  background-color: #1aafa6;
  box-shadow: 0px 7px 9px rgba(26, 175, 166, 0.12);
}

.red-bg {
  background-color: #e37a7a;
  box-shadow: 0px 7px 9px rgba(255, 36, 120, 0.12);
}

.row {
  width: 100%;
}

.all {
  width: 100%;
  min-width: 700px;
  height: 250px;
  display: flex;
  flex-direction: row;
}

.open-order {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 250px;
}

.input {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  width: 150%;
  margin-bottom: 15%;
}

.grey-input {
  opacity: 0.2;
}

.open-order input {
  width: 20%;
  height: 31px;
  width: 200px;
  background-color: #e5e5e5;
  outline: none;
  border: none;
  font-family: "Rany";
  font-weight: 300;
  font-size: 34px;
  position: relative;
}

.preview-text {
  width: 70px;
}

.input-preview {
  font-family: "Rany";
  font-size: 14px;
  opacity: 0.3;
  letter-spacing: 0.05em;
  font-weight: 300;
  margin-top: 15px;
}

.max-amount {
  font-family: "Rany";
  font-size: 12px;
  font-weight: 300;
  opacity: 0.2;
  letter-spacing: 0.05em;
  margin-top: 15px;
  margin-left: 15px;
}

.max {
  color: #1aafa6;
  opacity: 0.7;
  margin-left: 10px;
}

.near-coin-icon {
  width: 11px;
  height: 11px;
  margin-left: 10%;
  margin-top: 17px;
  user-select: none;
}

.coin-text {
  opacity: 0.6;
  margin-left: 10px;
  letter-spacing: 0.05em;
}

.usdt-coin-icon {
  width: 14px;
  height: 14px;
  margin-left: 10%;
  margin-top: 15px;
  user-select: none;
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.order-btn-block {
  margin-left: 50px;
  width: 648px;
  height: 46px;
  min-width: 520px;
}

.order-btn {
  display: inline-block;
  position: relative;
  width: 600px;
  height: 47px;
  padding: 12px 13px 12px 13px;
  border-radius: 42px;
  background-color: #e5e5e5;
  outline: none;
  border: 1px solid #1aafa6;
  transition: all 0.2s;
  overflow: hidden;
  color: #1aafa6;
  z-index: 1;
}

.order-btn::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: #1aafa6;
  transition: all 0.2s;
  border-radius: 42px;
  z-index: -1;
}

.order-btn:hover {
  color: #fff;
}

.order-btn:hover::before {
  width: 100%;
}

.orders {
  float: right;
  min-width: 455px;
  min-height: 443px;
  margin-left: 5%;
}

.orders-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
}

.calendar-mark {
  color: #b8b8b8;
}

.orders h5 {
  font-family: "Rany";
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.orders button {
  width: 127px;
  height: 28px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  outline: none;
  background-color: rgba(228, 227, 227, 0.712);
  border: 1px solid #ebebeb;
  font-family: "Rany";
  font-size: 12px;
  opacity: 0.6;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.rc_root {
  margin-left: 40%;
  box-shadow: 0 0 7px 0 #a2b3b1da;
  font-family: "Rany";
  font-weight: 100;
}

@keyframes vis {
  100% {
    transform: translateX(20px);
  }
}

#cal {
  animation: vis 0.2s forwards;
  transition: display 0.2s ease;
  transition: all 2s linear;
  position: absolute;
  z-index: 2;
}

.not-visible {
  display: none;
  opacity: 0;
}

.rc_body-cell.rc_selected button {
  border-radius: 0;
  border: none;
}

.orders-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  font-family: "Rany";
  margin-bottom: 5px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 10px;
}

.for-text {
  margin-left: 5px;
  font-family: "Rany";
  font-weight: 300;
  opacity: 0.4;
  z-index: 1;
}

.orders-row {
  display: flex;
  flex-direction: row;
}
.orders-checkmark {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5px;
  left: 5px;
  user-select: none;
}

.finished-order-status {
  color: #1aafa6;
  font-size: 12px;
  letter-spacing: 0.05em;
  margin-left: 150px;
}

.cancelled-order-status {
  color: #c4c4c4;
  letter-spacing: 0.05em;
  font-size: 12px;
  margin-left: 150px;
}

.balances {
  width: 644px;
  height: 306px;
  margin-top: 5%;
}

.balances h2 {
  font-family: "Rany";
  letter-spacing: 0.05em;
  font-size: 24px;
  font-weight: 300;
  margin-left: 10%;
}

.balance-row {
  display: flex;
  flex-direction: row;
}

.balance-list {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
}

.balance-list p {
  font-family: "Rany";
  font-weight: 300;
  font-size: 18px;
  opacity: 0.8;
}

.balance-coin-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  user-select: none;
}

.balance-amount {
  margin-left: 530px;
  margin-right: 10px;
}
