html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
}

br {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-family: "Rany";
}

.header p {
  font-family: "Rany";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.05em;
  opacity: 20%;
  flex: none;
  margin: 0px 34px;
}

.bold {
  font-size: 20px;
  font-weight: 500;
  margin-top: 11%;
}

.thin {
  font-size: 20px;
  font-weight: 100;
  margin-top: 9%;
}

.logo {
  display: flex;
  margin-left: 5%;
  align-items: center;
}

.icon {
  max-height: 40px;
}

.wallet-icon {
  margin-bottom: 10%;
  font-size: 30px;
  margin-left: 30%;
  transform: rotate(-12deg);
}

.wallet-near-icon {
  height: 60px;
  margin-bottom: 20%;
  transform: rotate(20deg);
  user-select: none;
}

.hrefs {
  display: flex;
  align-items: center;
}

.btn-block {
  margin-right: 5%;
  padding: 12px 46px;
}

.default-button {
  width: 157px;
  height: 39px;
  letter-spacing: 0.05em;
  background-color: #1aafa6;
  box-shadow: 0px 7px 9px rgba(26, 175, 166, 0.12);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease 0s;
  border-radius: 42px;
  border: none;
  color: #fff;
  font-family: "Rany";
  font-weight: 500;
}

.default-button:hover {
  background-color: #6672e0;
  box-shadow: 0px 15px 20px rgba(26, 61, 175, 0.274);
  color: #e5e5e5;
  transform: translateY(-7px);
}

.default-button:active {
  transform: translateY(1px);
  transition: 0.1s ease 0s;
}

.small-button {
  height: 27px;
  width: 70px;
  margin-top: 5px;
  border-radius: 48px;
  background-color: #1aafa6;
  letter-spacing: 0.05em;
  box-shadow: 0px 7px 9px rgba(26, 175, 166, 0.12);
  color: #fff;
  outline: none;
  border: none;
  font-family: "Rany";
  font-size: 12px;
  font-weight: 500;
  z-index: 1;
}

.order-info button {
  margin-left: 5px;
}

.headline {
  margin-left: 5%;
  margin-top: 5%;
  width: 50%;
}

.headline-text {
  font-family: "Rany";
  font-style: normal;
  font-size: 58px;
  font-weight: 200;
  margin-bottom: 0;
}

.headline-text-special {
  color: #1aafa6;
  margin-top: 0;
  font-weight: 500;
}

.man-image {
  width: 626px;
  height: 486px;
  float: right;
  margin-right: 5%;
}

.heading {
  width: 100%;
  height: 50%;
  margin: 10% 0 20px 5%;
  font-size: 40px;
  font-family: "Rany";
  font-style: normal;
  font-weight: 200;
  opacity: 0.9;
}

.instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.block {
  width: 360px;
  height: 260px;
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.block h1 {
  margin-bottom: 50%;
  font-family: "Rany";
  font-size: 27px;
  font-weight: 100;
  opacity: 0.2;
}

.head-text {
  font-family: "Rany";
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  opacity: 0.8;
}

.block-text h3 {
  font-family: "Rany";
  font-style: normal;
  font-weight: 200;
  font-size: 15px;
  opacity: 0.3;
}

.order-info {
  display: flex;
  flex-direction: row;
}

.order-info h2 {
  font-family: "Rany";
  font-size: 14px;
  opacity: 0.8;
  font-weight: 300;
  margin: 0;
}

.order-info h3 {
  font-family: "Rany";
  font-size: 12px;
  opacity: 0.3;
  margin-top: 5px;
  font-weight: 300;
  color: #000000;
}

.user-icon {
  display: flex;
  flex-direction: column;
  width: 35px;
  margin-left: 30%;
  margin-bottom: 10%;
}

.circle {
  height: 14px;
  width: 14px;
  background-color: #c4c4c4;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  margin-left: 20%;
  margin-bottom: 10%;
}

.elipse {
  height: 12px;
  width: 27px;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
  background: #c4c4c4;
}

.checkmark-bg {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  background-color: #1aafa6;
  margin-left: 5px;
  position: relative;
}

.checkmark-bg img {
  position: absolute;
  top: 30%;
  left: 25%;
  user-select: none;
}

.success {
  font-family: "Rany";
  font-weight: 500;
  font-size: 14px;
  margin: 5px 0 0 0;
}

.assets-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 0 0 15% 0;
}

.success-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.success-blue {
  color: #1aafa6;
  font-weight: bold;
}

.hr-center-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features {
  display: flex;
  flex-direction: row;
}

.features-text {
  margin-left: 5%;
  height: 50%;
  width: 50%;
}

.default-text {
  font-family: "Rany";
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
  color: #acacac;
}

.features-image {
  height: 70%;
  width: 70%;
}

.feature-top-icons {
  width: 80%;
  margin: 15% 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.icon-pos {
  width: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon-pos h3 {
  margin-left: 10%;
  font-family: "Rany";
  font-size: 18px;
  font-weight: 300;
  opacity: 0.7;
}

.icon-pos img {
  user-select: none;
}

.buy-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  background-color: #1aafa6;
  position: relative;
  box-shadow: 0px 7px 9px rgba(26, 175, 166, 0.12);
}

.sell-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  position: fixed;
  align-items: center;
  background-color: #e37a7a;
  position: relative;
  box-shadow: 0px 7px 9px rgba(255, 36, 120, 0.12);
}

.checkmark-icon {
  width: 20px;
  height: 20px;
}

.feature-bottom-icons {
  width: 80%;
  margin: 10% 0 0 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.orders-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  position: relative;
  box-shadow: 0px 7px 9px rgba(51, 54, 54, 0.12);
}

.orders-rectangle-icon {
  position: absolute;
  width: 14px;
  height: 20px;
  background-color: #fff;
  border-radius: 3px 11px 3px 3px;
}

.balance-icon {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #6672e0;
  position: relative;
  box-shadow: 0px 7px 9px rgba(112, 52, 253, 0.12);
}

.telegram-heading {
  width: 100%;
  height: 50%;
  margin: 5% 0 20px 0;
  font-family: "Rany";
  font-style: normal;
  font-weight: 200;
  opacity: 0.9;
}

.phone-image {
  width: 20%;
  margin-left: 5%;
  height: 20%;
  transform: rotate(-10deg);
  float: left;
}

.telegram-bot {
  width: 50%;
  margin-right: 5%;
  float: right;
}

.blue-button {
  margin-top: 10%;
  box-shadow: 0px 7px 9px rgba(76, 161, 230, 0.12);
}

.blue-button:hover {
  background-color: #0088cc;
}

.team {
  width: 100%;
  height: 100%;
  margin-top: 35%;
}

.team-row {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
}

.img-team-row {
  display: flex;
  flex-direction: row;
  margin-right: 20%;
}

.img-team-row h2 {
  font-family: "Rany";
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.team-text {
  width: 170px;
}

.img-team-row h3 {
  font-family: "Rany";
  font-size: 16px;
  margin-left: 20px;
  font-weight: 300;
  opacity: 0.9;
}

#footer {
  margin-top: 5%;
}
